.benefits-list__title {
    color: $headline-color;

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: start;
    text-transform: uppercase;
}

.benefits-list__text {
    color: $main-text-color;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits-list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.benefits-list__item {
    max-width: 450px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        max-width: 354px;
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 30px;

        &:nth-child(2n) {
            margin-left: 30px;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        flex-basis: calc((100% - 30px * 3));
        &:not(:first-child) {
            margin-left: 30px;
        }
    }

}

.benefits-list__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: $main-button-bg-color;
    border-radius: 4px;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}