.section-no-padding-top{
    padding-top: 0;
}

.employment {
    display: flex;
    justify-content: center;
}

.employment__item {
    &:not(:first-child) {
        margin-left: 30px;
    }
}

.employment__thumb {
    position: relative;
}

.employment__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.employment__overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $accent-white-color;
}