.phone-menu {

    &.is-hidden {
        display: none;
    }

    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 99;

    position: fixed;
    top: 0;
    left: 0;

    overflow-y: scroll;

    background-color: $accent-white-color;

    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 0;
    
        position: static;
        overflow: hidden;
    
        background-color: transparent;

        &.is-hidden {
            display: flex;
        }
    }
}

.menu-button-close {
    position: absolute;
    top: 21px;
    right: 25px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-soc-list__link {
    padding: 0 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: $accent-color;
}

.menu-soc-list__item {
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}