// Переменные цветовой палитры
$accent-color: #2196F3;
$headline-color: #212121;
$main-text-color: #757575;
$footer-bg-color: #2F303A;
$main-icon-color: #AFB1B8;
$form-label-color: #757575;
$accent-white-color: #ffffff;
$main-button-bg-color: #F5F4FA;
$accented-button-color: #ffffff;

// Переменные шрифтов
$main-font: 'Roboto', sans-serif;
$logo-font:  'Raleway', sans-serif;